<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <%= link_to 'Volver', root_path, class: 'btn' %>
      <%= render 'posts/post', post: @post %>
    </div>
  </div>
</div>